			<span class="game_name">
				<%= game.home_abb %>
			</span>
			<span class="game_score">
				<%= game.home_score %>
			</span>
			<br>
			<span class="game_name">
				<%= game.away_abb %>
			</span>
			<span class="game_score">
				<%= game.away_score %>
			</span>