<% unless game.home.nil? || game.away.nil? %>
			<span class="game_name">
				<%= game.home.abb %>
			</span>
			<span class="game_score">
				<%= game.home_score %>
			</span>
			<br>
			<span class="game_name">
				<%= game.away.abb %>
			</span>
			<span class="game_score">
				<%= game.away_score %>
			</span>
<% end %>