<div class="container">
<!-- 1-16 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
			<span class="game_name">
				<%= @game1.home_abb %>
			</span>
			<span class="game_score">
				<%= @game1.home_score %>
			</span>
			<br>
			<span class="game_name">
				<%= @game1.away_abb %>
			</span>
			<span class="game_score">
				<%= @game1.away_score %>
			</span>
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
1-16
		</div>
	</div>

		<!-- second round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-1">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-8">
<!-- # -->
			</div>
		</div>
	
<!-- 8-9 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
8-9
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
8-9
		</div>
	</div>
	
		<!-- third round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-2">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-6">
<!-- # -->
			</div>
		</div>
	
<!-- 5-12 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
5-12
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
5-12
		</div>
	</div>
	
		<!-- second round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-1">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-8">
<!-- # -->
			</div>
		</div>
	
<!-- 4-13 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
4-13
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
4-13
		</div>
	</div>
		
		<!-- fourth round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-3">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-4">
<!-- # -->
			</div>
		</div>
		
<!-- 6-11 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
6-11
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
6-11
		</div>
	</div>
	
		<!-- second round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-1">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-8">
<!-- # -->
			</div>
		</div>
	
<!-- 3-14 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
3-14
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
3-14
		</div>
	</div>
	
		<!-- third round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-2">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-6">
<!-- # -->
			</div>
		</div>
	
<!-- 7-10 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
7-10
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
7-10
		</div>
	</div>
	
		<!-- second round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-1">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-8">
<!-- # -->
			</div>
		</div>
	
<!-- 2-15 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
2-15
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
2-15
		</div>
	</div>

		<!-- sixth round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-4">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-2">
<!-- # -->
			</div>
		</div>

<!-- 1-16 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
1-16
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
1-16
		</div>
	</div>

		<!-- second round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-1">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-8">
<!-- # -->
			</div>
		</div>
	
<!-- 8-9 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
8-9
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
8-9
		</div>
	</div>
	
		<!-- third round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-2">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-6">
<!-- # -->
			</div>
		</div>
	
<!-- 5-12 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
5-12
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
5-12
		</div>
	</div>
	
		<!-- second round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-1">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-8">
<!-- # -->
			</div>
		</div>
	
<!-- 4-13 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
4-13
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
4-13
		</div>
	</div>
		
		<!-- fourth round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-3">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-4">
<!-- # -->
			</div>
		</div>
		
<!-- 6-11 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
6-11
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
6-11
		</div>
	</div>
	
		<!-- second round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-1">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-8">
<!-- # -->
			</div>
		</div>
	
<!-- 3-14 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
3-14
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
3-14
		</div>
	</div>
	
		<!-- third round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-2">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-6">
<!-- # -->
			</div>
		</div>
	
<!-- 7-10 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
7-10
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
7-10
		</div>
	</div>
	
		<!-- second round -->
		<div class="row">
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-1">
<!-- # -->
			</div>
			<div class="col-sm-1 game_ht-small game_box col-sm-offset-8">
<!-- # -->
			</div>
		</div>
	
<!-- 2-15 -->
	<div class="row">
		<div class="col-sm-1 game_ht-small game_box">
		  
2-15
		</div>
		<div class="col-sm-1 game_ht-small game_box col-sm-offset-10">
		  
2-15
		</div>
	</div>
	
</div>
