// Place all the styles related to the Blocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import './main/variables';

.block_ht-medium {
	height:		75px;
}

.standout {
	color: $myPrimary;
	font-size: 2.5em;
}

.block_box {
	background-color: rgba(150, 150, 150, .5) !important;
}

.block_ht-fill {
	height:		75%;
}