// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import './main/variables';

.game_ht-medium {
	height:		75px;
}

.game_ht-small {
	height:		25px;
}

.standout {
	color: $myPrimary;
	font-size: 2.5em;
	padding-top:		15px;
}

.game_box {
	background-color: rgba(150, 150, 150, .5) !important;
	padding-left:		15px;
}

.game_name {
	width:		70%;
}

.game_score {
	width:		25%;
}

.game_ht-fill {
	height:		75%;
}